# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out

# env
.env
.env*.local

# debug / tooling
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# os / ide
.DS_Store
*.tsbuildinfo
